@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&display=swap');

/* VARIABLES */
:root {
    /* colores */
    --colores-degrados-color-gris: #7f7e7f;
    --colores-degrados-color-morano: #5f134d;
    --colores-degrados-color-violeta: #331160;
    --colores-planos-color-blanco: #f9eff7;
    --colores-planos-color-gris: #dcdcdc;
    --colores-planos-color-rojo: #b14e6f;
    --colores-planos-color-verde: #8be9bc;
    /* numbers */
    --size-size-1: 0.25rem;
    --size-size-2: 0.5rem;
    --size-size-3: 0.75rem;
    --size-size-4: 1rem;
    --size-size-5: 1.25rem;
    --size-size-6: 1.5rem;
    --size-size-7: 1.75rem;
    --size-size-8: 2rem;
    --size-size-9: 2.25rem;
    --size-size-10: 2.5rem;
    --size-size-11: 2.75rem;
    --size-size-12: 3rem;
    --size-size-13: 3.25rem;
    --size-size-14: 3.5rem;
    --size-size-15: 3.75rem;
    --size-size-16: 4rem;
}

/* Botones */
.btn {
    padding: 20px 38px;
    border-radius: 8px;
}

body {
    height: 100vh;
    background: linear-gradient(
        107deg,
        #7d7c7e 2.31%,
        #541154 58.58%,
        #361059 97.68%
    );
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    font-family: "Source Sans 3", sans-serif;
    color: #000;
}

.container {
    width: 1726px;
    height: 971px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.6);

    padding: 30px 200px 100px 200px;
    display: grid;
    column-gap: 130px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    & .izquierda {
        display: grid;
        grid-template-columns: [boton1]auto [boton2]auto [sobrante]1fr;
        grid-template-rows: [nav]1fr [titular]auto [parrafo]auto [botones]auto [vacio]50px;
        column-gap: 30px;
        row-gap: 50px;
        align-items: start;
        /* Menu */
        & .izquierda__menu {
            grid-column: boton1 / sobrante;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }
        & .izquierda__titulo {
            grid-column: 1 / -1;
            grid-row: titular / parrafo;
            font-family: "Space Grotesk", sans-serif;
            font-size: var(--size-size-15);
            font-weight: 500;

            & .izquierda__rojo {
                color: var(--colores-planos-color-rojo, #b14e6f);
            }
        }
        & .izquierda__parrafo {
            grid-column: 1 / -1;
            grid-row: parrafo / botones;
            font-size: var(--size-size-5);
            font-weight: 400;
        }

        /* Botones */
        & .izquierda__btndemo {
            grid-column: boton1;
            grid-row: botones;
            background: #000;
            color: #fff;
        }
        & .izquierda__btncall {
            grid-column: boton2;
            grid-row: botones;
            background: var(--colores-planos-color-verde, #8be9bc);
            color: #000;
        }
    }

    & .derecha {
        display: grid;
        grid-template-columns: [todo]1fr;
        grid-template-rows: [botones]auto [formulario]1fr;
        row-gap: 50px;
        & .derecha__botones {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 20px;
            & .derecha__btndemo {
                background: #000;
                color: #fff;
            }
            & .derecha__btncall {
                background: var(--colores-planos-color-verde, #8be9bc);
                color: #000;
            }
        }
        & .derecha__formulario {
            grid-column: todo;
            grid-row: formulario;
            border-radius: 30px;
            background: var(--colores-planos-color-gris, #dcdcdc);
        }
    }
}
